@include mobile {
  .header {
    padding: 0 2%;
    .header__column {
      &:first-child {
        a {
          display: flex;
          align-items: center;
          font-size: 2rem;
          vertical-align: middle;
        }
      }
      &:last-child {
        a {
          display: none;
        }
        #SideHeaderOpen {
          display: block;
          margin-left: 10px;
        }
      }
    }
  }

  @keyframes closeMenu {
    0%,
    50% {
      width: 50%;
      opacity: 1;
    }
    to {
      width: 0;
      opacity: 0;
    }
  }

  @keyframes openMenu {
    0%,
    50% {
      width: 0;
      opacity: 0;
    }
    100% {
      width: 50%;
      opacity: 1;
    }
  }
}
