footer
    .footer__row
        span.footer__logo
            i.fab.fa-youtube
        span.footer__logoname WETUBE
    .footer__row
        span &copy #{new Date().getFullYear()} WETUBE,
        span By Taesung Yun.