.social-login
    a(href=routes.github)
        button.github-login
            span
                i.fab.fa-github
            span GITHUB
    a(href=routes.google)
        button.google-login
            span
                i.fab.fa-google
            span GOOGLE