.comment-box {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;

  @keyframes linespread {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  .comment__row {
    width: 100%;
    display: flex;
    &:first-child {
      margin: 20px 0;
      span {
        margin-right: 10px;
        font-size: 2rem;
        font-weight: 600;
        opacity: 0.6;
      }
    }
    .comment__col {
      &:first-child {
        margin-right: 20px;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        }
      }

      &:nth-child(2) {
        width: 100%;
        form {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          textarea {
            resize: none;
            overflow-y: hidden;
            width: 100%;
            height: 35px;
            font-size: 2rem;
            font-weight: 400;
            letter-spacing: 2px;
            background-color: $mainBg;
            border: none;
            &:focus {
              outline: none;
            }
            &:focus + .textarea-line {
              background-color: $black;
              animation: linespread 0.5s forwards ease-in;
            }
          }
          .textarea-line {
            width: 100%;
            height: 1px;
            background-color: $lineColor;
          }
        }
      }
    }
  }

  .comment-list {
    display: flex;
    flex-direction: column;
    li {
      display: flex;
      margin-top: 35px;
      .comment__row {
        margin: 0;
        &:first-child {
          .comment__col {
            width: 100%;
            &:first-child {
              flex: 5;
              display: flex;
              margin-bottom: 15px;
              span:first-child {
                margin-right: 5px;
                opacity: 1;
              }
              span:nth-child(2) {
                opacity: 0.3;
              }
            }

            &:nth-child(2) {
              flex: 1;
              display: flex;
              justify-content: flex-end;
              position: relative;

              .commentMenuBtn {
                width: 30px;
                height: 30px;
                font-size: 2rem;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                i {
                  z-index: 10;
                }
                .commentMenuBtn__effect {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 0%;
                  height: 0%;
                  border-radius: 50%;
                  z-index: 1;
                }

                @keyframes spread {
                  from {
                    width: 0;
                    height: 0;
                    opacity: 0;
                    background-color: #2d3436a1;
                    box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
                  }
                  to {
                    width: 100%;
                    height: 100%;
                    opacity: 1;
                    background-color: #2d343618;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                  }
                }
              }

              ul.menubar {
                width: 60px;
                padding: 10px;
                border: 1px solid $lineColor;
                position: absolute;
                top: 30px;
                right: -40px;
                background-color: white;
                li {
                  margin-top: 0;
                  &:not(:last-child) {
                    margin-bottom: 10px;
                  }
                  span {
                    font-size: 1.2rem;
                    font-weight: 400;
                    cursor: pointer;
                    &:hover {
                      opacity: 1;
                    }
                  }
                }
              }
            }
          }
        }

        &:last-child {
          display: flex;
          flex-direction: column;
          .comment__row {
            &:last-child {
              textarea {
                width: 100%;
                height: 35px;
                resize: none;
                overflow-y: hidden;
                font-size: 2rem;
                font-weight: 400;
                letter-spacing: 2px;
                background-color: $mainBg;
                border: none;
                &:focus {
                  outline: none;
                }
                &:focus + .textarea-line {
                  background-color: $black;
                  animation: linespread 0.5s forwards ease-in;
                }
              }
              .textarea-line {
                margin: 0 auto;
                width: 100%;
                height: 1px;
                background-color: $lineColor;
              }
              .modify-btns {
                margin-top: 20px;
                display: flex;
                justify-content: flex-end;
                span {
                  margin-left: 10px;
                  padding: 10px 20px;
                  border-radius: 10px;
                  background-color: #0fbaf98e;
                  color: white;
                  font-weight: 400;
                  font-size: 1.8rem;
                  cursor: pointer;
                  &:hover {
                    background-color: #0fbaf9;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
