extends ./layouts/main.pug

block contents
    .join-page
        .join.form-container
            form(action="/join", method="post")
                input(type="text", name="name", placeholder="name")
                input(type="email", name="email", placeholder="E-mail")
                input(type="password", name="password" placeholder="Password")
                input(type="password", name="verifyPassword", placeholder="Verify Password")
                input(type="submit", value="Join Now")
        include ./partials/socialLogin