extends ./layouts/main.pug

block contents
    .upload-page
        .upload-box
            .upload-box__row
                h2 
                    span#logoInForm
                        i.fab.fa-youtube
                    span#logonameInForm WETUBE
                h3  Upload your video
            .upload-box__row
                .form-container
                    form(action="/upload", method="post", enctype="multipart/form-data")
                        label(for="videoFile") SELECT VIDEO FILE
                        input(type="file", id="videoFile", name="videoFile", accept="video/*", required=true)
                        input(type="text", name="title", placeholder="Title", required=true)
                        textarea(type="text", name="description" placeholder="Description", required=true)
                        input(type="submit", value="UPLOAD")