.videoBlock {
  .videoBlock__video-container {
    width: 100%;
    overflow: hidden;
    padding-top: calc(100% / 16 * 9);
    position: relative;
    height: 0;
    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .videoBlock__info {
    padding-top: 20px;
    display: flex;
    .videoBlock__col {
      &:first-child {
        margin-right: 10px;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      &:last-child {
        width: 100%;
        padding-top: 5px;
      }

      .videoBlock__row {
        width: 100%;
        &:first-child {
          margin-bottom: 10px;
          span {
            font-size: 1.8rem;
            font-weight: 400;
            @include limitText(2, 1.2em);
          }
        }
        &:last-child {
          span {
            display: block;
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}
