extends ./layouts/main.pug

block contents
    .changePassword-page
        .changePassword__box
            h3
                span
                    i.fas.fa-key
                span Modify your Password! 
            .form-container
                form(action=routes.changePassword(me._id), method="post")
                    input(type="password", name="currentPassword", placeholder="Current Password")
                    input(type="password", name="newPassword", placeholder="New Password")
                    input(type="password", name="verifyPassword", placeholder="Verify New Password")
                    input(type="submit", value="Change Password")
