$mainBg: #f9f9f9;
$black: #2d3436;
$transBlack: #2d3436b7;
$red: #ff0000;
$lineColor: #e9e9e9;
$githubBtnBefore: #2d3436a1;
$githubBtnAfter: #2d3436;
$googleBtnBefore: #ff7575a1;
$googleBtnAfter: #ff7675;
