.changePassword-page {
  min-height: 92vh;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .changePassword__box {
    width: 400px;
    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

      span {
        &:first-child {
          font-size: 3rem;
          color: #fbc531;
          margin-right: 5px;
          -webkit-text-stroke-width: 2px;
          -webkit-text-stroke-color: $black;
        }
        &:last-child {
          font-size: 2.8rem;
          font-weight: 400;
          letter-spacing: 2px;
        }
      }
    }
  }
}
