.editProfile-page {
  min-height: 92vh;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .editProfile__box {
    width: 380px;
    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      span {
        &:first-child {
          padding: 5px;
          font-size: 3rem;
          background-color: #f9ca24;
          border-radius: 50%;
          color: $black;
          margin-right: 5px;
        }
        &:last-child {
          font-size: 2.8rem;
          font-weight: 400;
          letter-spacing: 2px;
        }
      }
    }
    .form-container {
      form {
        label {
          text-align: center;
          font-size: 2rem;
          font-weight: 600;
          margin-bottom: 10px;
        }
        #isdeleteAvatar {
          display: none;
        }
        #deleteAvatarBtn {
          color: white;
          background-color: #2ecc71;
          &:hover {
            opacity: 0.5;
          }
        }
      }
      .changePassword-btn {
        a {
          button {
            margin-top: 10px;
            width: 100%;
            background-color: $googleBtnBefore;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 2rem;
            font-weight: 600;
            padding: 10px 20px;
            .changePassword__icon {
              font-size: 2.2rem;
              color: white;
              margin-right: 5px;
            }
            &:hover {
              background-color: $googleBtnAfter;
            }
          }
        }
      }
    }
  }
}
