.join-page {
  min-height: 92vh;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .join-box {
    width: 380px;
    .join-box__row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:first-child {
        margin-bottom: 20px;
        h2 {
          margin-bottom: 40px;
        }
        h3 {
          font-size: 26px;
          font-weight: 600;
          letter-spacing: 3px;
        }
      }

      &:nth-child(2) {
        .form-container {
          form {
            padding-top: 10px;
            border-top: 1px solid $lineColor;
          }
          h6 {
            border-top: 1px solid $lineColor;
            border-bottom: 1px solid $lineColor;
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            padding: 10px 0;
            margin: 10px 0;
            opacity: 0.6;
          }
        }
      }
    }
  }
}
