.upload-page {
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;

  .upload-box {
    width: 700px;
    .upload-box__row {
      &:first-child {
        margin-bottom: 20px;
        h2 {
          display: flex;
          justify-content: center;
          margin-bottom: 40px;
        }
        h3 {
          font-size: 26px;
          font-weight: 600;
          letter-spacing: 3px;
          text-align: center;
        }
      }

      &:nth-child(2) {
        form {
          label {
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 10px;
          }
          textarea {
            height: 300px;
            padding: 20px;
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
